<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!-- webServices -->
  <!--
            The <jsonSerialization> section allows increasing the default length of a JSON string.
      This prevents error during serialization or deserialization using the JSON JavaScriptSerializer. 
        -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!-- Settings for global vars -->
  <appSettings>
    <add key="ApplicationName" value="ONCO"/>
    <add key="ApplicationVersion" value="Version 1.0"/>
    <add key="EmailOps" value="shauna.hogan@pfizer.com"/>
    <add key="EmailDev" value="shauna.hogan@pfizer.com"/>
    <add key="Environment" value="DEV"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=kirorant01.amer.pfizer.com)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=psidev)));Persist Security Info=True;User ID=PDWSTGLVL;Password=PDWSTGLVL" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <!-- Used to configure the various components of the System.Web assembly, can appear inside a <configuration> section or inside a <location> section -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <globalization culture="en-CA" uiCulture="en-CA"/>
    <httpRuntime executionTimeout="600" requestValidationMode="2.0"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <!--
   Used for emailing from ExceptionUtility.cs/NotifySystemOps
   -->
  <system.net>
    <mailSettings>
      <smtp from="Apps.NET@pfizer.com">
        <network host="sgpsmtp.apac.pfizer.com" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>